# Database
DATABASE_PATH=./data/parkpay.sqlite
PORT=3000

# Logging
LOG_LEVEL=info
NODE_ENV=development

# API key
PARKPAY_API_KEY=CHANGE_IN_LOCAL_ENV

# Payment Provider
PAYMENT_PROVIDER=mock
MOCK_PAYMENT_MODE=ONLINE_SUCCESS

# Stripe Sandbox
STRIPE_SECRET_KEY=CHANGE_IN_LOCAL_ENV
STRIPE_TEST_PAYMENT_METHOD=pm_card_visa