#Database
DATABASE_PATH=CHANGE_IN_LOCAL_ENV
PORT=CHANGE_IN_LOCAL_ENV

#Logging
LOG_LEVEL=CHANGE_IN_LOCAL_ENV

#API key
PARKPAY_API_KEY=CHANGE_IN_LOCAL_ENV

#Payment Provider
PAYMENT_PROVIDER=mock
STRIPE_SECRET_KEY=CHANGE_IN_LOCAL_ENV